*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color:#222;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background: #fff;
}

.navbar .logo {
    display:flex;
    align-items:center;
    gap:10px;
}

.navbar .logo img{
    width:100px;
}

.navbar .menu{
    display:flex;
    gap:30px;
}

.navbar .menu a{
    text-decoration:none;
    color:#222;
    font-weight:500;
}

.navbar .btn{
    padding:12px 25px;
    background:#2563eb;
    color:#fff;
    border-radius:6px;
    text-decoration:none;
    font-weight:600;
}

/* Hero */
.hero{
    height:600px;
    background-image:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("Images/banner.jpg");
    background-size: cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:900px;
}

.hero-content h1{
    font-size:64px;
    margin-bottom:20px;
}

.hero-content h1 i{
    font-style:italic;
}

.hero-content p{
    font-size:18px;
    line-height:1.5;
    margin-bottom:40px;
}

.hero-btn{
    background:#2563eb;
    padding:16px 45px;
    border-radius:8px;
    color:#fff;
    text-decoration:none;
    font-size:18px;
    font-weight:600;
}

/* Speakers */
.speakers {
    padding: 60px;
    text-align: center;
}

.speakers h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.speaker-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.speaker-card {
    background: #fff;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: left;
}

.speaker-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.speaker-info {
    padding: 15px;
}

.speaker-info h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.speaker-info .role {
    font-size: 14px;
    color: #555;
}

/* Responsive */
@media(max-width:900px){
    .speaker-grid {
        flex-direction: column;
        align-items: center;
    }

    .speaker-card {
        width: 80%;
    }
}
/* CTA */
.cta{
    background:#eee9ff;
    padding:80px;
    text-align:center;
    color:#6d28d9;
}

.cta h2{
    font-size:32px;
    margin-bottom:10px;
}

/* Footer */
footer{
    background:#111827;
    color:#fff;
    padding:20px;
    text-align:center;
}

footer img{
    width:50px;
    margin-bottom:10px;
}

/* Responsive */
@media(max-width:900px){
    .price-container{
        flex-direction:column;
        align-items:center;
    }

    .speaker-grid{
        flex-direction:column;
    }
}
